<%- include('../../partials/html-declared.ejs') %>
<body>
    <%- include('../../partials/header.ejs') %>

    <%- include('../../partials/nav.ejs') %>

    <%- include('../../partials/comment.ejs') %>

    
    <%- include('../../partials/footer.ejs') %>

    <!-- Firebase SDK script and logIn.js script -->
    <%- include('../../partials/firebase.ejs') %>
    <script src="../../scripts/logIn.js"></script>

    <script src= "../../scripts/add_data/add_comment.js"></script>
    <script src="../../scripts/read_data/read_comment.js"></script>

</body>
</html>